@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
    --oxford-blue: #1D2135ff;
    --ghost-white: #FBF9FEff;

    --app-background: var(--oxford-blue);
}

html {
    font-size: 16px;
}
@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}

body {
    @apply font-serif text-white;
    @apply bg-appBackground;
}

h1 {
    text-shadow: 1px 1px var(--app-background), 2px 2px #4299E1, 5px 5px #743df3;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-sans font-bold;
}

a {
    @apply text-deepskyblue-300 underline;
}
